SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_service_role_key

LLM_BASE_URL=your_llm_base_url
LLM_API_KEY=your_llm_api_key
LLM_MODEL=your_llm_model

# Note: All the llm which are compatible with the openai library in python works here
